.editorContainer {
  background-color: rgb(245, 246, 248);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 24px 0 111px;
}

.headerIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: flex-end;
  margin-right: 28px;
}

.contentWrapper {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
  padding: 0 56px;
}

.userName {
  color: rgb(107, 107, 107);
  letter-spacing: 0.36px;
  align-self: flex-start;
  margin-left: 14px;
  font: 600 36px Poppins, sans-serif;
}

.mainContent {
  margin-top: 73px;
}

.contentGrid {
  gap: 20px;
  display: flex;
}

.previewColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 24%;
  margin-left: 0;
}

.previewSection {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  font-family: Poppins, sans-serif;
}

.previewTitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  margin-left: 14px;
}

.previewBox {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-self: stretch;
  display: flex;
  margin-top: 14px;
  height: 543px;
}

.uploadButton {
  border-radius: 6px;
  background-color: #8A8A8A;
  margin-top: 33px;
  width: 213px;
  max-width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.18px;
  padding: 12px 70px;
  border: none;
  cursor: pointer;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 76%;
  margin-left: 20px;
}

.detailsSection {
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  align-items: flex-start;
  font-family: Poppins, sans-serif;
}

.detailsTitle {
  color: rgb(21, 44, 112);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.subjectContainer {
  margin-top: 16px;
}

.subjectTitle {
  color: var(--text_help_gray, #818e9b);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 26px;
}

.subjectName {
  color: var(--table_black, #323c47);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin-top: 16px;
}

.subjectInput {
  background-color: rgb(245, 246, 248);
  color: #334d6e;
  border-radius: 0px;
  border: 0;
}

.divider {
  background: var(--text_line, #d3d8dd);
  width: 100%;
  height: 1px;
}

.dropdownSection {
  align-self: stretch;
  display: flex;
  margin-top: 59px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.label{
    border-radius: 0px;
    border: 0;
}

.dropdownRow {
  display: flex;
  gap: 36px; /* Adds space between dropdowns */
  margin-bottom: 40px;
  margin-top: 40px;
}

.dropdownContainer {
  flex: 1; /* Ensures equal width for each dropdown */
}

.dropdownLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.dropdown {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


.dropdownGrid {
  display: flex;
  min-height: 67px;
  align-items: flex-start;
  gap: 40px 75px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.descriptionBox {
  background-color: #fff;
  /* /box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
  margin-top: 14px;
  width: 1068px;
  max-width: 100%;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.16px;
  padding: 24px 39px 89px;
  border-radius: 0px;
  border: 0;
}

.sendButton {
  border-radius: 6px;
  background-color: rgb(21, 44, 112);
  margin-top: 59px;
  width: 302px;
  max-width: 100%;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.18px;
  padding: 12px 70px;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .editorContainer {
    padding-bottom: 100px;
  }

  .headerIcon {
    margin-right: 10px;
  }

  .contentWrapper {
    max-width: 100%;
    padding: 0 20px;
  }

  .userName {
    margin-left: 10px;
  }

  .mainContent {
    max-width: 100%;
    margin-top: 40px;
  }

  .contentGrid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .previewColumn {
    width: 100%;
  }

  .previewSection {
    margin-top: 35px;
  }

  .previewTitle {
    margin-left: 10px;
  }

  .uploadButton {
    padding: 0 20px;
  }

  .detailsColumn {
    width: 100%;
  }

  .detailsSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .dropdownSection {
    max-width: 100%;
    margin-top: 40px;
  }

  .descriptionBox {
    padding: 0 20px 110px;
  }

  .sendButton {
    margin-top: 40px;
    padding: 0 20px;
  }
}
