@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Markazi+Text:wght@400..700&family=Monsieur+La+Doulaise&display=swap');

.bodoni-moda-sc-font {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight:900;
  font-style: normal;
}
*{
  font-family: "Bodoni Moda SC", serif !important;
}  

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  border-top: 5px solid #ff3d00; /* Red */
  border-right: 5px solid #ff9100; /* Orange */
  border-bottom: 5px solid #00e676; /* Green */
  border-left: 5px solid #2979ff; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.Loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

